* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font: inherit;
}
body {
  background-color: black;
  color: white;
}
.roditelj {
  border: 1px solid greenyellow;
  display: flex;
  flex-direction: row;
  width: 900px;
}
/* .dete {
  background-color: red;
  border: 1px solid white;
  flex-grow: 1;
} */
 .dete1 {
  background-color: red;
  flex-grow: 1;
}
 .dete2 {
  background-color: blue;
  flex-grow: 1;
 }
.dete3 {
  background-color: aqua;
  flex-grow: 1;
} 

.roditelj2 {
  background-color: yellow;
  margin-top: 50px;
  color: black;
  width: 900px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dete4 {
  /* background-color: violet; */
  font-size: 30px;
  width: fit-content;
  height: fit-content;
}
.main-div {
  width: 100vw;
  height: 40vh;
  display: flex;
  margin-top: 5rem;
  justify-content: right;
  align-items:;
}
.nav-div {
  width: 21vw;
  height: 40vh;
  background-color: aquamarine;
}
.nav-div a{
  /* width: 20vw; */
  height: 10vh;
  text-align: ;
  display: block;
  text-decoration: none;
  font-size: 2rem;
  border-bottom: 1px solid black;
  padding: 0;
}
.bg {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: right;
  align-items: left;
  padding: 0;
}
